<div class="footer py-md-2 py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="footer-logo">
					<img src="/assets/img/footer-logo.png" alt="">
				</div>
			</div>
			<div class="col-md-9">
				<div class="footer-links d-flex justify-content-end">
					<a class="nav-link norwester" href="/team">TEAM</a>
					<a class="nav-link norwester" href="/thoughts">THOUGHTS</a>
					<a class="nav-link norwester" href="/contact">START NOW</a>
				</div>
			</div>
		</div>
	</div>
</div>