{{ define "main" }}
{{ .Content }}
<div class="home-hero">	
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="home-hero-heading">
					<h1 class="norwester">
						<span>COMMUNICATIONS</span>
						<span>SECTOR</span>
						<span>GROWTH</span>
						<span>ADVISORS</span>
					</h1>
				</div>
			</div>
			<div class="col-md-6 position-relative">
				<div class="home-hero-text">
					<p>Agency life isn’t always easy. <br>But it should be rewarding.</p>
					<p>We work with leaders, owners and <br>investors to maximise potential.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="end-to-end" id="end-to-end">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="end-to-end-img">
					<img src="/assets/img/home/end-to-end.png" class="w-75" alt="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="arrow-down text-start fadeInDown1">
					<a href="#end-to-end" class=""><img src="/assets/img/arrow-down.png" class="animate__animated animate__pulse animate__infinite animate__slow" alt=""></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-10 position-relative">
				<div class="white-rod-section">
					<img src="/assets/img/white-rod.png" class="w-100 expandIt" alt="">
					<div class="d-flex justify-content-between">
						<div class="white-rod-link">
							<a href="#" class="norwester fix-link fadeInOneByOne" onmouseover="testFunction()">
								FIX
							</a>
						</div>
						<div class="white-rod-link">
							<a href="#" class="norwester build-link fadeInOneByOne">
								BUILD
							</a>
						</div>
						<div class="white-rod-link">
							<a href="#" class="norwester grow-link fadeInOneByOne">
								GROW
							</a>
						</div>
						<div class="white-rod-link">
							<a href="#" class="norwester sell-link fadeInOneByOne">
								SELL
							</a>
						</div>
						<div class="white-rod-link">
							<a href="#" class="norwester run-link fadeInOneByOne">
								RUN
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 offset-md-6">
				<div class="holding-page-text holding-main-text">
					<p>
						Uniquely positioned to advise across all stages of agency journey. From turn-around to sale and transition.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="services mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="services-heading">
					<h1 class="norwester">
						<span>UNDERSTANDING</span>
						<span>OPTIMISING</span>
						<span>MAXIMISING</span>
					</h1>
				</div>
			</div>
		</div>
		<div class="row service-cards">
			<div class="container">
				<div class="services-slider text-center">
					<div class="px-xl-4 px-2">
						<div class="service-card service-card-culture">
							<div class="norwester service-card-text">
								CULTURE
							</div>
						</div>
					</div>
					<div class="px-xl-4 px-2">
						<div class="service-card service-card-product">
							<div class="norwester service-card-text">
								PRODUCTS
							</div>
						</div>
					</div>
					<div class="px-xl-4 px-2">
						<div class="service-card service-card-commercial">
							<div class="norwester service-card-text">
								COMMERCIALS
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row services-text mt-5">
			<div class="col-md-6 offset-md-6 ps-md-5">
				<p class="service-specialist">
					Specialists in each business pillar, we
					partner with leadership teams to build
					growth plans built on the specific needs
					of each business.
				</p>
				<a href="thoughts.html" class="primary-button">
					BLOG
				</a>
			</div>
		</div>
	</div>
</div>

<div class="work mt-5">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-md-5">
				<div class="work-heading">
					<h1 class="norwester">
						<span>WHY WORK</span>
						<span>WITH US</span>
					</h1>
				</div>
			</div>
			<div class="col-md-7 col-xl-6">
				<div id="slider"> 
				  <div class="dp-wrap"> 
				    <div id="dp-slider">

				      <div class="dp_item" data-class="1" data-position="1">
				        <div class="dp-content">
				          	<p>
				          		“Working with NNW was incredibly valuable. At first we weren’t sure what to expect, but the fact finding sessions were enjoyable and insightful. Adam & Stephen were able to quickly understand what makes us successful so far, but importantly how to scale our business. The outcomes of the project were clear & actionable. As we like to say Brazil Street, No BS!” <br>
				          		<span class="testimonial-title">
				          			<b>Chris Brown</b> <br>
									Director & Co-Founder, Brazil Street
				          		</span>
							</p>
				        </div>
				      </div>

				      <div class="dp_item" data-class="2" data-position="2">
				        <div class="dp-content">
				          	<p>
				          		“We worked with Owen and team to help us build a fresh agency division. He quickly understand us, our vision and the challenges. This insight informed a very clear and compelling positioning strategy, which in turn was built into powerful sales story.  The process simplified a potentially complicated challenge and we are very pleased with the result.” <br>
				          		<span class="testimonial-title">
				          			<b>Mark Law</b> <br>
									Managing Director, Wilson Cooke
				          		</span>
							</p>
				        </div>
				      </div>

				      <div class="dp_item" data-class="3" data-position="3">
				        <div class="dp-content">
				          	<p>
				          		“Throughout, we felt absolute trust in them and the eventual decisions taken, and their energy and enthusiasm was infectious, giving us just what we needed quickly and effectively and in a timely fashion ofcourse. We have nothing but great things to say about 'Now Next Why'. It was quite a game-changing experience for us!” <br>
				          		<span class="testimonial-title">
				          			<b>Lyndsey Whitehouse</b> <br>
									CEO, Integrity Events
				          		</span>
							</p>
				        </div>
				      </div>

				      
				    </div>
				    
				    <span id="dp-next">
				      <img src="/assets/img/home/slide-next.png" class="animate__animated animate__pulse animate__infinite animate__slow" alt="">
				    </span>

				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}